<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img src="escudo-liga.png" alt="Escudo de la Liga" class="navbar-logo">
    <a class="navbar-brand" href="">Liga de los Superheroes Informaticos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">Home RL</a>
        </li>
        <li class="nav-item">
          <button class="nav-link active" aria-current="page" (click)="irAlHome()">Home FP</button>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Heroes y villanos
          </a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" routerLink="/superheroes">Miembros de la liga</a></li>
            <li><a class="nav-link" routerLink="/supervillanos">Enemigos de la liga</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.marvel.com/">Los amigos de la liga</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/solicitud">Únete a la Liga</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/superjefe">Habla con el superjefe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/estadisticas">Estadísticas</a>
        </li>
      </ul>
      
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-warning" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>